.btndiv{
 display: grid;   
 row-gap: 10px;
}

#player{
margin-bottom: 50px; 
}
#playerscore{
 margin: 8px 16px 8px 2px;
 padding: 1px;
}

#computerscore{
 margin: 8px 16px 8px 2px;
 padding: 1px;
}


#console{
 background-color: whitesmoke;   
 border : 2px solid black;
 width: 38%;
 margin: auto;
 padding: 35px 35px 130px 35px;
 display: flex;
 height: 160px;

}

.display{
 border : 2px solid ;
 margin-left: 75px;
 background-color: black;
 width: 100%;
 padding: 10px;
}

#output{
 border : 1px solid black;   
 width: 100%; 
 margin-left: 75px;
 margin-top: 15px;
 height: 18px;
 padding: 4px;   
}

.scores{
 border : 1px solid black;   
 width: 110%; 
 margin-left: 75px;
 margin-top: 10px;
 height: 60px;
 padding: 4px;
}